<mat-form-field>
  <input (dateChange)="dateChange('change', $event )"
         matInput
         [matDatepicker]="picker"
         [(ngModel)]="selectedDate"
         placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix
                         [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Current period</mat-label>
  <mat-select [value]="currentPeriod" (selectionChange)="dateRangeChange($event)">
    <mat-option value="thisWeek">This Week</mat-option>
    <mat-option value="thisMonth">This month</mat-option>
    <mat-option value="lastWeek">Last 7 Days</mat-option>
    <mat-option value="lastMonth">Last 30 Days</mat-option>
  </mat-select>
</mat-form-field>
