<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <app-datepicker (dateChange)="dateChange($event)"></app-datepicker>

  <mat-grid-list cols="2"
                 rowHeight="350px">
    <mat-grid-tile colspan="2"
                   rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sales Stats
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <table *ngIf="(salesDetails$ | async) as salesDetails">
            <tr>
              <td>Total Number of Sales:</td>
              <td>{{ salesDetails.total.numberOfSales}}</td>
            </tr>
            <tr>
              <td>Total Number of Sales Items:</td>
              <td>{{ salesDetails.total.numberOfSalesItems }}</td>
            </tr>
            <tr>
              <td>Total Monetary Amount:</td>
              <td>{{ salesDetails.total.monetaryAmount | number: NUMBER_FORMAT }}</td>
            </tr>
            <tr>
              <td>Average Number of Sales Items per Sale:</td>
              <td>{{ (salesDetails.average.numberOfSalesItems | number: NUMBER_FORMAT ) || 0}}</td>
            </tr>
            <tr>
              <td>Average Monetary Amount per Sale:</td>
              <td>{{ (salesDetails.average.monetaryAmountPerSale | number: NUMBER_FORMAT) || 0 }}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
