<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile colspan="2" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Sales Stats
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="sales$ | async as sales">
                 For a given period, display:
                 <ul>
                 <li>Total number of sales: {{sales.total.sales}} </li>
                 <li>Total number of sales items: {{sales.total.salesItems}} </li>
                 <!-- TODO: -->
                 <li>Total monetary amount: {{ (salesDetails$ | async)?.total?.monetaryAmount }}</li>
                 <li>Average number of sales items per sale: </li>
                 <li>Average monetary amount per sale: </li>
                 <li>○ Allow the user to select data from the following periods</li>
                 <li>This week (Monday 12am till now): </li>
                 <li>This month (12am Ist of the Month till now): </li>
                 <li>Last 7 days (since 12 am today): </li>
                 <li>Last 30 days(since 12 am today): </li>
                 </ul>
                 </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

</div>
